@{
    ViewData["Title"] = "Home Page";
}

<h2>
    Alineando texto
</h2>

<p class="text-start">Texto a la izquierda</p>
<p class="text-center">Texto en el centro</p>
<p class="text-end">Texto a la derecha</p>

<p class="text-sm-center">Texto centrado en pantallas pequeñas</p>
<p class="text-md-center">Texto centrado en pantallas medianas</p>
<p class="text-lg-center">Texto centrado en pantallas grandes</p>
<p class="text-xl-center">Texto centrado en pantallas extra-grandes</p>

<h2>Texto dentro de su contenedor</h2>

<div class="badge bg-primary text-wrap" style="width: 6rem;">Este texto no se sale de su contenedor</div>

<div class="badge bg-secondary text-wrap text-break" style="width: 6rem;">mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm</div>

<div class="text-lowercase">NOT THE SAME WITHOUT YOUR HEAD ON MY SHOULDER</div>
<div class="text-uppercase">growing pains, but I don´t wanna get older</div>
<div class="text-capitalize">almost like we left it all already</div>

<div class="fs-1">fs-1</div>
<div class="fs-2">fs-2</div>
<div class="fs-3">fs-3</div>
<div class="fs-4">fs-4</div>
<div class="fs-5">fs-5</div>
<div class="fs-6">fs-6</div>

<div class="fw-bold">Bold</div>
<div class="fw-bolder">Bolder</div>
<div class="fw-normal">Normal</div>

<div class="fw-ligth">ligth</div>
<div class="fw-lighter">lighter</div>
<div class="fst-italic">Italic</div>

<p class="text-decoration-underline">Underline</p>
<p class="text-decoration-line-through">line through</p>

<a href="#" class="">Enlace con decoración</a>
<br />
<a href="#" class="text-decoration-none">Enlace sin decoración</a>
